/* ==================== General ==================== */

body, pre, button {
    font-family: 'Inconsolata', monospace;
    font-size: 12pt;
}

p, pre, section ul {
    margin: 1em 0 0 0;
}

pre {
    overflow: hidden;
}

section {
    border-radius: 3px;
    margin: 2em auto;
    width: 700px;
    max-width: 700px;
    padding: 1em;
}

a, a:hover, a:active, a:focus,
button, button:hover, button:active, button:focus, button::-moz-focus-inner {
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

a:focus,
button:focus {
    outline: 1px dotted;
}

a:hover, a.active {
    text-decoration: underline;
}

.js-only {
  display: none;
}

/* ==================== Navigation ==================== */

nav ul {
    display: inline-block;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav li:nth-child(n+2)::before {
    content: '| ';
    text-decoration: none;
}

/* ==================== Meta ==================== */

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main > header {
    text-align: center;
}

.copyright {
    text-align: left;
}

aside {
    display: inline-block;
    float: right;
}

body.dark aside button.btn-dark {
    display: none;
}

body.light aside button.btn-light {
    display: none;
}

button {
    cursor: pointer;
}

button {
    border: none;
    background: none;
    padding: 0;
}

aside::before,
header > nav::before {
    content: '[';
}

aside::after,
header > nav::after {
    content: ']';
}

/* ==================== List ==================== */

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
    overflow-wrap: break-word;
    word-wrap: normal;
}

section > ul > li {
    margin: 0 0 0 1em;
}

section > ul > li::before {
    content: '>';
    left: 1em;
    position: absolute;
}

ul ul {
    margin: 0 0 0 1.5em;
}

ul ul li::before {
    content: '\\_';
    left: 2em;
    position: absolute;
}

section > ul > li:nth-child(n+2) {
    margin-top: 1em;
}
